@using System.Collections.Specialized
@using System.Text
@model dynamic
@{
    string id = Guid.NewGuid().ToString().Replace("-","");
}
<button type="button" class="layui-btn layui-btn-primary" id="btn@(id)" onclick="download@(id)()">
    <i class="layui-icon">&#xe601;</i> @Model.BtnDesc
</button>
<script type="text/javascript">
    @{
        NameValueCollection queryParam = Request.QueryString;
        NameValueCollection formParam = Request.Form;
        StringBuilder paramSb = new StringBuilder();
        paramSb.Append("{");
        StringBuilder paramInputSb = new StringBuilder();
        paramInputSb.Append("<form id=\"").Append(id).Append("\" style=\"display:none;\" method=\"post\" target=\"_blank\" action=\"").Append(Model.ExportAction).Append("\">");
        paramInputSb.Append("<input type=\"hidden\" name=\"exportIndex\" value=\"1\">");
        paramInputSb.Append("<input type=\"hidden\" name=\"exportSize\" value=\"10000\">");
        paramInputSb.Append("<input type=\"hidden\" name=\"fileName\" value=\""+ Model.ExportName + "\">");
        string value;
        foreach (string key in queryParam.Keys)
        {
            value = queryParam.GetValues(key)[0];
            paramSb.Append("\"").Append(key).Append("\":\"").Append(value).Append("\",");
            paramInputSb.Append("<input type=\"hidden\" name=\"").Append(key).Append("\" value=\"").Append(value).Append("\">");
        }
        foreach (string key in formParam.Keys)
        {
            value = queryParam.GetValues(key)[0];
            paramSb.Append("\"").Append(key).Append("\":\"").Append(value).Append("\",");
            paramInputSb.Append("<input type=\"hidden\" name=\"").Append(key).Append("\" value=\"").Append(value).Append("\">");
        }
        paramSb.Append("}");
        paramInputSb.Append("</form>");
        string paramStr = paramSb.ToString();
        string paramInputStr = paramInputSb.ToString();
    }
    function exportExcel@(id)(exportIndex) {
        var exportSize = @Model.ExportSize;
        var exportName = '@Model.ExportName';
        var $tempForm;
        debugger;
        if($('#@id').length === 0){
            $tempForm = $('@Html.Raw(paramInputStr)');
            $('body').append($tempForm);
        }else{
            $tempForm=$('#@id');
        }
        var $temp = $('#btn@(id)');
        do{
            $temp = $temp.parent();
        }while($temp.length !== 0 && $temp[0].nodeName !== 'FORM');
        if($temp[0].nodeName === 'FORM'){
            $temp.find('input,select').each(function(){
                var name = $(this).attr('name');
                if(name === undefined){
                    return true;
                }
                var value;
                if(this.nodeName === 'INPUT'){
                    value = $(this).attr('value');
                } else if(this.nodeName === 'SELECT'){
                    value = this.options[this.selectedIndex].value;
                }
                var $tempCtrl = $tempForm.find('[name="'+name+'"]');
                if($tempCtrl.length === 0){
                    $tempForm.append('<input type=\"hidden\" name=\"'+name+'\" value=\"'+value+'\">');
                } else {
                    $tempCtrl.val(value);
                }
            });
        }
        $('#@id').find('[name="exportIndex"]').val(exportIndex);
        $('#@id').find('[name="exportSize"]').val(exportSize);
        $('#@id').find('[name="fileName"]').val(exportName+exportIndex+'.xlsx');
        $('#@id').submit();
    }
    function download@(id)() {
        var index = top.layer.load();
        var exportSize = @Model.ExportSize;
        var exportName = '@Model.ExportName';
        $.post('@Model.CountAction',@Html.Raw(paramStr),function(res){
            top.layer.close(index);
            if(res.totalCount>exportSize){
                var rest = res.totalCount % exportSize;
                var fileCount = (res.totalCount - rest) / exportSize + 1;
                var tbody='<tbody>';
                for(var i=0;i<fileCount;i++){
                    tbody+=
                        '<tr>'+
                            '<td>'+exportName+(i+1)+'.xlsx</td>'+
                            '<td>点击“导出”时导出第'+(exportSize*i+1)+'-'+(exportSize*(i+1))+'条数据</td>'+
                            '<td><a href="javascript:void(0);" onclick="exportExcel@(id)('+(i+1)+')">导出</a></td>'+
                        '</tr>';
                }
                tbody+='</tbody>';
                top.layer.open({
                    type:1,
                    content:
                        '<table class="layui-table">'+
                            '<thead>'+
                                '<tr>'+
                                    '<th>文件名</th>'+
                                    '<th>描述</th>'+
                                    '<th>操作</th>'+
                                '</tr>'+
                            '</thead>'+
                            tbody+
                        '</table>'
                });
            }else{
                var $tempForm;
                if($('#@id').length === 0){
                    $tempForm = $('@Html.Raw(paramInputStr)');
                    $('body').append($tempForm);
                }else{
                    $tempForm=$('#@id');
                }
                var $temp = $('#btn@(id)');
                do{
                    $temp = $temp.parent();
                }while($temp.length !== 0 && $temp[0].nodeName !== 'FORM');
                if($temp[0].nodeName === 'FORM'){
                    $temp.find('input,select').each(function(){
                        var name = $(this).attr('name');
                        if(name === undefined){
                            return true;
                        }
                        var value;
                        if(this.nodeName === 'INPUT'){
                            value = $(this).attr('value');
                        } else if(this.nodeName === 'SELECT'){
                            value = this.options[this.selectedIndex].value;
                        }
                        var $tempCtrl = $tempForm.find('[name="'+name+'"]');
                        if($tempCtrl.length === 0){
                            $tempForm.append('<input type=\"hidden\" name=\"'+name+'\" value=\"'+value+'\">');
                        } else {
                            $tempCtrl.val(value);
                        }
                    });
                }
                $('#@id').find('[name="exportIndex"]').val(1);
                $('#@id').find('[name="exportSize"]').val(exportSize);
                $('#@id').find('[name="fileName"]').val(exportName+'.xlsx');
                $('#@id').submit();
            }
        },'json');
    }
</script>